h1 {
  text-align: center;
  font-size: 86px;
  padding: 50px 0px;
  border: 2px solid #d4d3e5;
  text-shadow: 4px 4px black;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  margin: 40px 0px 20px 0px;
  text-shadow: 2px 2px black;
}

.top-margin {
  margin-top: 150px;
}

p {
  font-size: 20px;
}

img.pair {
  float: right;
  height: 160px;
  width: auto;
  margin-left: 10px;
  border-radius: 15px;
}

img.facility {
  float: left;
  height: 160px;
  width: auto;
  margin-right: 10px;
  border-radius: 15px;
}

label,
.btn {
  font-size: 20px;
}

body {
  background-color: #3b415a;
  font-family: 'Signika', sans-serif;
  color: #d4d3e5;
}

.container {
  padding: 35px 0px;
}

.labelsmall {
  width: 40%;
}

[id^='question'] {
  width: 55%;
}
